
<div class='container'>
  <%= simple_form_for(@request) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class='container'>
      <div class="form-inputs">
        <%= f.label "Cliente" %>
        <%= f.select :customer_id, @customers %>
        <%= f.label "Mesa"%>
        <%= f.select :table_id, @tables %>
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
  <br>
  <%= react_component("Items", allItems: @items, request: @request)%>
</div>
