<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Cliente</th>
      <th>Mesa</th>
      <th>Itens</th>
      <th>Conta atual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.created_at.strftime("%d/%m/%Y em %I:%M") %></td>
        <td><%= request.customer_id %></td>
        <td><%= request.table_id %></td>
        <% unless request.amounts.nil? %>
          <td><%= request.amounts.pluck(:amount).count %></td>
        <% end %>
        <td>R$ <%= calculation(request.amounts) %></td>
        <td><%= link_to 'Abrir ', request %></td>
        <td><%= link_to '| Editar | ', edit_request_path(request) %></td>
        <td><%= link_to 'Apagar', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Pedido', new_request_path %>
