<p id="notice"><%= notice %></p>

<div class='container' style='height: calc(100vh - 135px)'><p>
  <strong>Amount:</strong>
  <ul>
    <% @request.amounts.each do |amount| %>
      <li><%= Item.find(amount.item_id).name %>, <%= amount.amount %></li>
    <%end%>
  </ul>
</p>

<p>
  <strong>A data e hora do pedido foi:</strong>
  <%= @request.created_at.strftime("%d/%m/%Y em %I:%M") %>
</p>

<%= link_to 'Continuar preenchendo', edit_request_path(@request) %> |
<%= link_to 'Voltar', requests_path %>

</div>
