<div class="transparent"></div>
<div id="side-menu">
    <div id="slide-menu-header">
        <% if user_signed_in? %>
            <h5 class="lead">Olá, <%= current_user.email %></h5>
        <% end %>
    </div>
    <div id="slide-menu-body">
        <ul class="mt-3">
            <li class="lead"><%= link_to "Clientes", customers_path()%></li>
            <li class="lead"><%= link_to "Pedidos", requests_path()%></li>
            <li class="lead"><%= link_to "Mesas", tables_path()%></li>
            <li class="lead"><%= link_to "Cardápios", menus_path()%></li>
            <li class="lead"><%= link_to "Garçons", waiters_path()%></li>
            <% if user_signed_in? %>
                <li class="lead"><%= link_to "Sair", destroy_user_session_path(), method: :delete %></li>
            <% end %>
        </ul>
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <div>
            <i class="fas fa-bars icone-menu"></i>
            <%= image_tag("saintsmeal.png", alt: "Logo", class: "logo mx-auto")%>
        </div>
    </div>
    
</nav>
